<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>


<div >
  <form method="post" action="/borrower/" th:action="@{/borrower/}" th:object="${borrower}" >

    <!--    private String  title, author, publisher, ISBN;
  -->
    <!--
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid name</p>
    -->
    <p>name <input type="text" name="name">
      email<input type="text" name="email">
      phone<input type="text" name="phone">
        the book<select name="borrowersBook">
          <tr th:each="book : ${books}">
          <option th:value="${book.author}" th:text="${book.author}"></option>
          </tr>
        </select>
    </p>


    <div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Add</button>
    </div>
  </form>

  <!--    private String  title, author, publisher, ISBN;
  -->
  <p>id:    name:  email:    phone:   borrowers Book:</p>
  <tr th:each="booki : ${borrower}">
    <td th:text="${booki.id}">id:</td>
    <td th:text="${booki.name}">name:</td>
    <td th:text="${booki.email}">email:</td>
    <td th:text="${booki.phone}">phone:</td>
    <td th:text="${booki.borrowersBook}">the book:</td>
<!--  <tr th:each="books : ${book}">
  <select name="selecting_book">
    <option th:value="${books.author}">www</option>
  </select>
</tr>-->

      <a class="nameAclass" th:href="@{/borrower/edit/{id}(id=${booki.id})}">edit</a>
      <a th:method="get" class="nameAclass" th:href="@{/borrower/delete/{id}(id=${booki.id})}">delete</a>
    <div></div>
  </tr>



</div>
<a th:href="@{/}">IM AUTHOR!</a>
</body>
</html>