<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/borrower/edit/{id}}" action="/borrower/edit/{id}" th:object="${borrower}">

  <!--    private String  title, author, publisher, ISBN;
-->
  <!--
      <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid name</p>
  -->
  <input type="number" name="id" th:value="${borrower.id}">
  <input type="text" name="name" th:value="${borrower.name}">
  <input type="text" name="email" th:value="${borrower.email}">
  <input type="text" name="phone" th:value="${borrower.phone}">
  <select name="borrowersBook">
    <tr th:each="book : ${books}">
      <option th:value="${book.author}" th:text="${book.author}"></option>
    </tr>
  </select>


  <div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Add</button>
  </div>
</form>

</body>
</html>